.container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    > div {
        margin-left: 15px;
        padding: 10px;
        border-radius: 12px;
        outline: solid 2px black;        
        > h3 {
            text-align: center;
        }
    }
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

li {
    list-style-type: none;
    margin-right: 5px;
}

button {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: #1e6b7b;
    border: 3px solid aliceblue;
    &:hover {
        letter-spacing: 0.5px;
        transform: scale(1.1);
        cursor: pointer;
    }
}